
/*background: #c1c1c1;
    border-radius: 4px;*/

::-webkit-scrollbar {
    width: 9px;
}

::-webkit-scrollbar-thumb {
    background-color: #ccc;
}

::-webkit-scrollbar-track-piece:start {
    background: transparent;
}

::-webkit-scrollbar-track-piece:end {
    background: transparent;
}

body {
    border-top: 1px solid orangered !important;
    border-left: 1px solid orangered !important;
    height: 100vh;
    background-color: #fff !important;
}

.gp-footer,
.feedback-link,
.tlid-language-bar.ls-wrap,
.result-footer.source-or-target-footer.tlid-copy-target {
    display: none !important;
}

.main-header {
    box-shadow: none !important;
    border-bottom: 1px solid gray !important;
}

@media screen and (min-width: 720px) {
    .main-header {
        padding-top: 0px !important;
    }
    .input-button-container {
        display: none !important;
    }

    .tlid-input.input {
        width: 50% !important;
        float: left !important;
    }

    .tlid-results-container.results-container {
        width: 50% !important;
        float: left !important;
    }

    .gt-cc .gt-cc-l {
        display: none !important;
    }
    .gt-cc .gt-cc-r {
        width:100% !important;
    }
}
